.catalog {
    width: 100%;
    height: auto;
    padding: 60px 0;
    
    &-container {
        @extend %container;

        &__title {
            font-size: 40px;
            color: $blue;
            margin-bottom: 30px;
        }

        &__articles {
            margin-bottom: 50px;

            @include grid-box(repeat(auto-fill, 300px), auto, 35px, space-between, flex-start);

            .flower-card {
                @extend %flower-card;
            }
        }

        &__seemore {
            text-align: center;
            
        }
    }
}