.header {
    width: 100%;
    height: auto;
    &-top {
        border-bottom: 2px solid $light-grey;
        padding: 10px 0;
        background-color: $white;
        
        &__nav {
            @extend %container;
            @include flex-box(row, space-between, center, nowrap);

            &-logo img {
                max-width: 110px;
                width: 100%;
                height: auto;
            }
            &-burger {
                width: 23px;
                gap: 5px;
                display: none;
                transform: scale(0);
                transition: all .3s ease;
                
                @include flex-box(column, space-between, center, nowrap);
                div {
                    width: 100%;
                    height: 3px;
                    background-color: $blue;
                    transition: all .3s ease;
                    border-radius: 2px;
                }
            }
            &-menu {                
                @include flex-box(row, space-between, center, wrap);

                &-item {
                    list-style-type: none;
                    text-transform: uppercase;
                    margin: 0 25px;
                    font-weight: 600;
                    color: $blue;
                    position: relative;
                    font-size: 16px;

                    &::before {
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: $blue;
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        transition: all .3s ease-in-out;;
                        transform: scaleX(0);
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    &:last-child:hover::before {
                        transform: scaleX(0);
                    }

                    &:hover::before {
                        transform: scaleX(1);
                    }
                    &.active-link::before {
                        transform: scaleX(1);
                    }

                    .btn-outline-primary {
                        span {
                            margin-right: 5px;
                        }
                    }

                    &.has-submenu {
                        cursor: pointer;
                        position: relative;
                        span::before {
                            transform: rotate(90deg);
                            transition: all .3s ease-out;
                        }
                        &.focused  {
                            
                            span::before {
                                transform: rotate(-90deg);
                            }
                            .submenu {
                                transform: scaleY(1);
                            }
                        }
                        .submenu {
                            top: 200%;
                            width: 100%;
                            transform: scaleY(0);
                            height: 0;
                            z-index: 111;
                            left: 0;
                            position: absolute;
                            transition: transform .5s ease-in-out;
                            
                            &-item {
                                list-style-type: none;
                                padding: 8px 15px;
                                background-color: $white;
                                border: 1px solid $blue;
                                
                                &:last-child {
                                    border-top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-container {
        width: 100%;
        height: auto;
        padding: 20vh 0;
        position: relative;

        &__main {
            transition: all .3s ease-in; 
            @extend %container;

            &-title {
                margin-bottom: 20px;
                font-size: 40px;
                color: $blue;
            }

            &-p {
                font-size: 16px;
                color: $grey;
                margin-bottom: 30px;
                max-width: 50%;
            }

        }

        &__bg {
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: absolute;
            img {
                width: 100%;
                display: none;
                filter: grayscale(50%) blur(5px);
                
                &#slide-item-3 {
                    display: block;
                }
            }
        }
    }
}