@media screen and (max-width: 1380px) {
    .header {
        &-top {
            &__nav {
                padding: 0 10vw;
            }
        }
        &-container {
            padding: 10vw 0;
            &__main {
                padding: 0 10vw;
            }
        }
    }
    main {
        .catalog {
            &-container {
                &__title {
                    text-align: center;
                }
                &__articles {
                    justify-content: center;
                }
            }
        }
        .create {
            &-container {
                &-articles {
                    justify-content: center;
                }
            }
        }
    }
}
@media screen and (max-width: 1050px) {
    main {
        .shop {
            &-container {
                flex-direction: column;
                &__content {
                    .shop-content__articles {
                        justify-content: center;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 990px) {
    .header {
        &-top {
            &__nav {
                padding: 0 10vw;
                &-burger {
                    display: flex;
                    transform: scale(1);
                    &.active {
                        transform: translateY(-5px);
                        div {
                            &:nth-child(1) {
                                transform: translateY(12px) rotate(45deg);
                            }
                            &:nth-child(2) {
                                opacity: 0;
                            }
                            &:nth-child(3) {
                                transform: translateY(-4px) rotate(-45deg);
                            }
                        }
                    }
                }
                &-menu {
                    position: fixed;
                    top: 0;
                    left: -100%;
                    flex-direction: column;
                    height: 100vh;
                    width: 75%;
                    background-color: $white;
                    z-index: 111;
                    justify-content: flex-start;
                    align-content: flex-start;
                    transition: all .5s ease-in;

                    &-item {
                        width: 100%;
                        height: auto;
                        margin: 0;
                        border: 1px solid $grey;
                        border-top: 0;
                        padding: 20px 15px;

                        &::before {
                            width: 0;
                        }

                        &.has-submenu {
                            %primary-outline-btn {
                                border: none;
                                padding: 0;
                            }
                            .submenu {
                                top: 100%;
                            }
                        }
                        a {
                            display: block;
                        }
                    }
                    &.active {
                        left: 0;
                        transition: all .5s ease-in;
                    }
                }
            }
        }
    }

    
    .footer {
        &-container {
            &__nav {
                justify-content: center;
                &-menu {
                    &-item {
                        &.has-submenu {
                            span {
                                display: none;
                            }
                            .submenu {
                                position: static;
                                height: auto;
                                transform: scaleY(1) translateY(10px);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 468px) {
    .header {
        &-container {
            &__main {
                &-p {
                    max-width: 100%;
                }
            }
            &__bg {
                img {
                    width: 200%;
                }
            }
        }
    }

    main {
        .contact {
            &-container {
                &__content {
                    position: static;
                    transform: translateY(0);
                    padding: 20px;
                    margin-bottom: 10px;
                }
                &__map {
                    transform: translateY(0);
                    position: static;
                }
            }
        }
    }

    .footer {
        &-container {
            &__nav {
                text-align: center;
                &-menu {
                    margin-bottom: 40px;
                    text-align: left;
                }
            }
        }
    }
}