@import 'kit/variables';
@import 'kit/fonts';
@import 'kit/mixins';
@import 'kit/placeholder';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all .3s ease-out;
}
.btn-primary {
    @extend %primary-btn;
}
.btn-outline-primary {
    @extend %primary-outline-btn;
}
.btn-out-primary {
    @extend %primary-out-btn;
}
.btn-out-light {
    @extend %light-out-btn;
}

@import 'header';

main {
    @import 'catalog';

    @import 'create-section';

    @import 'contacts';

    @import 'shop';

    .collect {
        width: 100%;
        height: auto;
        padding: 20px 0;
        &-container {
            @extend %container;
            gap: 50px;
            @include flex-box(row, space-between, flex-start, nowrap);
            &__filter {
                max-width: 340px;
                width: 100%;
                height: auto;
                .collect-filter {
                    width: 100%;
                    border: 1px solid $grey;
                    border-radius: 10px;
                    transition: all .5s ease-in;
                    &__title {
                        cursor: pointer;
                        padding: 13px 15px;
                        font-size: 20px;
                        color: $blue;
                        transition: all .5s ease-in;
                        font-weight: 700;
                        .icon-filter::before {
                            margin-right: 8px;
                        }
    
                        @include flex-box(row, space-between, center, nowrap);
                        .icon-right-open::before {
                        transition: all .5s ease-in;
                        transform: rotate(90deg);
                        }
                    }
                    &__category {
                        width: 100%;
                        height: 0;
                        transition: all .5s ease-in;
                        overflow: hidden;
                        &-title {
                            padding: 10px 15px;
                            font-size: 16px;
                            font-weight: 500;
                            color: $blue;
                            position: relative;
                            display: block;
                            cursor: default;
                            &::before {
                                content: '';
                                width: 4px;
                                height: 8px;
                                background-color: $light-blue;
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                border-radius: 0 2px 2px 0;
                                transition: all .5s ease-in;
                            }
                            &:hover::before {
                                background-color: $blue;
                            }
                        }
                        &-list {
                            li {
                                width: 100%;
                                padding: 10px 10px 10px 30px;
                                border-top: 1px solid $blue;
                                list-style-type: none;
                                position: relative;
                                cursor: pointer;
                                
                                &:first-child {
                                    border: 0;
                                }
                                &::before {
                                    content: '';
                                    width: 6px;
                                    height: 6px;
                                    border-radius: 50%;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    background-color: $blue;
                                    left: 15px;
                                }
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    &.focused {
                        width: 100%;
                        .collect-filter__title {
                            border-bottom: 1px solid $blue;
                            .icon-right-open::before {
                                transform: rotate(-90deg);
                            }
                        }
                        .collect-filter__category {
                            height: auto;
                            overflow: hidden;
                        }
                    }
                }
            }
            &__content {
                width: 100%;
                height: auto;
    
                .collect-content__pagination {
                    gap: 15px;
                    margin-bottom: 40px;
                    @include flex-box(row, flex-start, center, nowrap);
                    button {
                        border: 0;
                        background-color: transparent;
                        outline: none;
                        font-size: 16px;
                        font-weight: 400;
                        color: $blue;
                        cursor: pointer;
                        &.active {
                            font-weight: 700;
                        }
                    }
                }
                .collect-content__articles {
                    @include grid-box(repeat(auto-fill, 300px), auto, 35px, flex-start, flex-start);
                    .flower-card {
                        @extend %flower-card;
                    }
                }
            }
        }
    }
}

@import 'footer';

@import 'mobile';