@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../../assets/font/fontello/fontello.eot?24352797");
  src: url("../../assets/font/fontello/fontello.eot?24352797#iefix") format("embedded-opentype"), url("../../assets/font/fontello/fontello.woff2?24352797") format("woff2"), url("../../assets/font/fontello/fontello.woff?24352797") format("woff"), url("../../assets/font/fontello/fontello.ttf?24352797") format("truetype"), url("../../assets/font/fontello/fontello.svg?24352797#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?89040736#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak-as: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-basket:before {
  content: '\e800';
}

/* '' */
.icon-plus:before {
  content: '\e801';
}

/* '' */
.icon-minus:before {
  content: '\e802';
}

/* '' */
.icon-right-open:before {
  content: '\e803';
}

.icon-filter:before {
  content: '\f0b0';
}

/* '' */
@font-face {
  font-family: 'Inter';
  src: url("../../assets/font/Inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url("../../assets/font/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url("../../assets/font/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url("../../assets/font/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url("../../assets/font/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.btn-outline-primary {
  border: 2px solid #CFD9E0;
  padding: 20px 25px;
  color: #072E4D;
  border-radius: 8px;
  font-size: 16px;
}
.btn-outline-primary:hover, .btn-outline-primary:focus {
  border-color: #072E4D;
}

.btn-out-primary {
  border: 2px solid #CFD9E0;
  padding: 20px 25px;
  color: #072E4D;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}
.btn-out-primary:hover {
  color: #fff;
  border-color: #072E4D;
  background-color: #072E4D;
}

.btn-primary {
  padding: 10px 15px;
  color: #fff;
  background-color: #072E4D;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 600;
}

.header-top__nav, .header-container__main, main .catalog-container, main .create-container, main .contact-container, main .shop-container, main .collect-container, .footer-container {
  max-width: 1380px;
  margin: auto;
  height: auto;
  width: 100%;
  padding: 10px;
}

main .catalog-container__articles .flower-card .flower-card-desc .card-price__btn, main .create-container-articles .flower-card .flower-card-desc .card-price__btn, main .shop-container__content .shop-content__articles .flower-card .flower-card-desc .card-price__btn, main .collect-container__content .collect-content__articles .flower-card .flower-card-desc .card-price__btn {
  outline: none;
  border: none;
  background-color: #00D575;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
main .catalog-container__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-minus, main .create-container-articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-minus, main .shop-container__content .shop-content__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-minus, main .collect-container__content .collect-content__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-minus, main .catalog-container__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-amount, main .create-container-articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-amount, main .shop-container__content .shop-content__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-amount, main .collect-container__content .collect-content__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-amount, main .catalog-container__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-plus, main .create-container-articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-plus, main .shop-container__content .shop-content__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-plus, main .collect-container__content .collect-content__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-plus {
  display: none;
  margin: 0 2px;
}
main .catalog-container__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-minus, main .create-container-articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-minus, main .shop-container__content .shop-content__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-minus, main .collect-container__content .collect-content__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-minus {
  margin-right: 5px;
}
main .catalog-container__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-plus, main .create-container-articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-plus, main .shop-container__content .shop-content__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-plus, main .collect-container__content .collect-content__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-plus {
  margin-left: 5px;
}
main .catalog-container__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-basket, main .create-container-articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-basket, main .shop-container__content .shop-content__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-basket, main .collect-container__content .collect-content__articles .flower-card .flower-card-desc .card-price__btn .card-price__btn-basket {
  padding: 10px;
}

.btn-out-light {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 10px;
}
.btn-out-light:hover {
  color: #00D575;
  border-color: #00D575;
}

main .catalog-container__articles .flower-card, main .create-container-articles .flower-card, main .shop-container__content .shop-content__articles .flower-card, main .collect-container__content .collect-content__articles .flower-card {
  -webkit-box-shadow: 0 2px 5px #ccc;
          box-shadow: 0 2px 5px #ccc;
  max-width: 300px;
  background-color: #fff;
}
main .catalog-container__articles .flower-card img, main .create-container-articles .flower-card img, main .shop-container__content .shop-content__articles .flower-card img, main .collect-container__content .collect-content__articles .flower-card img {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  max-height: 300px;
  height: 100%;
}
main .catalog-container__articles .flower-card .flower-card-desc, main .create-container-articles .flower-card .flower-card-desc, main .shop-container__content .shop-content__articles .flower-card .flower-card-desc, main .collect-container__content .collect-content__articles .flower-card .flower-card-desc {
  padding: 18px 20px;
}
main .catalog-container__articles .flower-card .flower-card-desc h4, main .create-container-articles .flower-card .flower-card-desc h4, main .shop-container__content .shop-content__articles .flower-card .flower-card-desc h4, main .collect-container__content .collect-content__articles .flower-card .flower-card-desc h4 {
  font-size: 20px;
  font-weight: 700;
  color: #072E4D;
  margin-bottom: 20px;
}
main .catalog-container__articles .flower-card .flower-card-desc .card-price, main .create-container-articles .flower-card .flower-card-desc .card-price, main .shop-container__content .shop-content__articles .flower-card .flower-card-desc .card-price, main .collect-container__content .collect-content__articles .flower-card .flower-card-desc .card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
main .catalog-container__articles .flower-card .flower-card-desc .card-price__cost, main .create-container-articles .flower-card .flower-card-desc .card-price__cost, main .shop-container__content .shop-content__articles .flower-card .flower-card-desc .card-price__cost, main .collect-container__content .collect-content__articles .flower-card .flower-card-desc .card-price__cost {
  font-size: 18px;
  font-weight: 600;
  color: #072E4D;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', serif;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.header {
  width: 100%;
  height: auto;
}
.header-top {
  border-bottom: 2px solid #ccc;
  padding: 10px 0;
  background-color: #fff;
}
.header-top__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.header-top__nav-logo img {
  max-width: 110px;
  width: 100%;
  height: auto;
}
.header-top__nav-burger {
  width: 23px;
  gap: 5px;
  display: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.header-top__nav-burger div {
  width: 100%;
  height: 3px;
  background-color: #072E4D;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 2px;
}
.header-top__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-top__nav-menu-item {
  list-style-type: none;
  text-transform: uppercase;
  margin: 0 25px;
  font-weight: 600;
  color: #072E4D;
  position: relative;
  font-size: 16px;
}
.header-top__nav-menu-item::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #072E4D;
  position: absolute;
  bottom: -5px;
  left: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.header-top__nav-menu-item:last-child {
  margin-right: 0;
}
.header-top__nav-menu-item:last-child:hover::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.header-top__nav-menu-item:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.header-top__nav-menu-item.active-link::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.header-top__nav-menu-item .btn-outline-primary span {
  margin-right: 5px;
}
.header-top__nav-menu-item.has-submenu {
  cursor: pointer;
  position: relative;
}
.header-top__nav-menu-item.has-submenu span::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.header-top__nav-menu-item.has-submenu.focused span::before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.header-top__nav-menu-item.has-submenu.focused .submenu {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.header-top__nav-menu-item.has-submenu .submenu {
  top: 200%;
  width: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  height: 0;
  z-index: 111;
  left: 0;
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
.header-top__nav-menu-item.has-submenu .submenu-item {
  list-style-type: none;
  padding: 8px 15px;
  background-color: #fff;
  border: 1px solid #072E4D;
}
.header-top__nav-menu-item.has-submenu .submenu-item:last-child {
  border-top: 0;
}
.header-container {
  width: 100%;
  height: auto;
  padding: 20vh 0;
  position: relative;
}
.header-container__main {
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
.header-container__main-title {
  margin-bottom: 20px;
  font-size: 40px;
  color: #072E4D;
}
.header-container__main-p {
  font-size: 16px;
  color: #464646;
  margin-bottom: 30px;
  max-width: 50%;
}
.header-container__bg {
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}
.header-container__bg img {
  width: 100%;
  display: none;
  -webkit-filter: grayscale(50%) blur(5px);
          filter: grayscale(50%) blur(5px);
}
.header-container__bg img#slide-item-3 {
  display: block;
}

main .catalog {
  width: 100%;
  height: auto;
  padding: 60px 0;
}
main .catalog-container__title {
  font-size: 40px;
  color: #072E4D;
  margin-bottom: 30px;
}
main .catalog-container__articles {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: auto;
  gap: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
main .catalog-container__seemore {
  text-align: center;
}
main .create {
  width: 100%;
  height: auto;
  background-color: #072E4D;
  padding: 10vh 0;
}
main .create-container__title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}
main .create-container__title span {
  text-transform: uppercase;
  color: #00D575;
}
main .create-container-articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: auto;
  gap: 35px;
  justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
main .create-container__btn {
  text-align: center;
  margin-top: 40px;
}
main .contact {
  width: 100%;
  height: 720px;
  max-height: 720px;
  position: relative;
  overflow: hidden;
}
main .contact-container__content {
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  padding: 40px;
  max-width: 600px;
  width: 100%;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}
main .contact-container__content-title {
  font-size: 40px;
  font-weight: 700;
  color: #072E4D;
  margin-bottom: 25px;
}
main .contact-container__content-address {
  max-height: 120px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
main .contact-container__content-address h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.8px;
  color: #072E4D;
  margin-bottom: 5px;
}
main .contact-container__content-address p {
  color: #072E4D;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
}
main .contact-container__content-address a {
  color: #072E4D;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
main .contact-container__content-address img {
  max-width: 200px;
  width: 100%;
  height: 200%;
}
main .contact-container__map {
  position: absolute;
  width: 100%;
  max-height: 720px;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
  left: 0;
  top: 0;
}
main .shop {
  width: 100%;
  height: auto;
  padding: 20px 0;
}
main .shop-container {
  gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
main .shop-container__filter {
  max-width: 340px;
  width: 100%;
  height: auto;
}
main .shop-container__filter .shop-filter {
  width: 100%;
  border: 1px solid #464646;
  border-radius: 10px;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}
main .shop-container__filter .shop-filter__title {
  cursor: pointer;
  padding: 13px 15px;
  font-size: 20px;
  color: #072E4D;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
main .shop-container__filter .shop-filter__title .icon-filter::before {
  margin-right: 8px;
}
main .shop-container__filter .shop-filter__title .icon-right-open::before {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
main .shop-container__filter .shop-filter__category {
  width: 100%;
  height: 0;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  overflow: hidden;
}
main .shop-container__filter .shop-filter__category-title {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #072E4D;
  position: relative;
  display: block;
  cursor: default;
}
main .shop-container__filter .shop-filter__category-title::before {
  content: '';
  width: 4px;
  height: 8px;
  background-color: #CFD9E0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 0 2px 2px 0;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}
main .shop-container__filter .shop-filter__category-title:hover::before {
  background-color: #072E4D;
}
main .shop-container__filter .shop-filter__category-list li {
  width: 100%;
  padding: 10px 10px 10px 30px;
  border-top: 1px solid #072E4D;
  list-style-type: none;
  position: relative;
  cursor: pointer;
}
main .shop-container__filter .shop-filter__category-list li:first-child {
  border: 0;
}
main .shop-container__filter .shop-filter__category-list li::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #072E4D;
  left: 15px;
}
main .shop-container__filter .shop-filter__category-list li:hover {
  text-decoration: underline;
}
main .shop-container__filter .shop-filter.focused {
  width: 100%;
}
main .shop-container__filter .shop-filter.focused .shop-filter__title {
  border-bottom: 1px solid #072E4D;
}
main .shop-container__filter .shop-filter.focused .shop-filter__title .icon-right-open::before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
main .shop-container__filter .shop-filter.focused .shop-filter__category {
  height: auto;
  overflow: hidden;
}
main .shop-container__content {
  width: 100%;
  height: auto;
}
main .shop-container__content .shop-content__pagination {
  gap: 15px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
main .shop-container__content .shop-content__pagination button {
  border: 0;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  color: #072E4D;
  cursor: pointer;
}
main .shop-container__content .shop-content__pagination button.active {
  font-weight: 700;
}
main .shop-container__content .shop-content__articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: auto;
  gap: 35px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
main .collect {
  width: 100%;
  height: auto;
  padding: 20px 0;
}
main .collect-container {
  gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
main .collect-container__filter {
  max-width: 340px;
  width: 100%;
  height: auto;
}
main .collect-container__filter .collect-filter {
  width: 100%;
  border: 1px solid #464646;
  border-radius: 10px;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}
main .collect-container__filter .collect-filter__title {
  cursor: pointer;
  padding: 13px 15px;
  font-size: 20px;
  color: #072E4D;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
main .collect-container__filter .collect-filter__title .icon-filter::before {
  margin-right: 8px;
}
main .collect-container__filter .collect-filter__title .icon-right-open::before {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
main .collect-container__filter .collect-filter__category {
  width: 100%;
  height: 0;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  overflow: hidden;
}
main .collect-container__filter .collect-filter__category-title {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #072E4D;
  position: relative;
  display: block;
  cursor: default;
}
main .collect-container__filter .collect-filter__category-title::before {
  content: '';
  width: 4px;
  height: 8px;
  background-color: #CFD9E0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 0 2px 2px 0;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}
main .collect-container__filter .collect-filter__category-title:hover::before {
  background-color: #072E4D;
}
main .collect-container__filter .collect-filter__category-list li {
  width: 100%;
  padding: 10px 10px 10px 30px;
  border-top: 1px solid #072E4D;
  list-style-type: none;
  position: relative;
  cursor: pointer;
}
main .collect-container__filter .collect-filter__category-list li:first-child {
  border: 0;
}
main .collect-container__filter .collect-filter__category-list li::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #072E4D;
  left: 15px;
}
main .collect-container__filter .collect-filter__category-list li:hover {
  text-decoration: underline;
}
main .collect-container__filter .collect-filter.focused {
  width: 100%;
}
main .collect-container__filter .collect-filter.focused .collect-filter__title {
  border-bottom: 1px solid #072E4D;
}
main .collect-container__filter .collect-filter.focused .collect-filter__title .icon-right-open::before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
main .collect-container__filter .collect-filter.focused .collect-filter__category {
  height: auto;
  overflow: hidden;
}
main .collect-container__content {
  width: 100%;
  height: auto;
}
main .collect-container__content .collect-content__pagination {
  gap: 15px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
main .collect-container__content .collect-content__pagination button {
  border: 0;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  color: #072E4D;
  cursor: pointer;
}
main .collect-container__content .collect-content__pagination button.active {
  font-weight: 700;
}
main .collect-container__content .collect-content__articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: auto;
  gap: 35px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer {
  width: 100%;
  height: auto;
  padding: 5vh 0;
}
.footer-container__nav {
  gap: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-container__nav-logo {
  max-width: 320px;
  width: 100%;
}
.footer-container__nav-menu {
  margin: 0 auto;
}
.footer-container__nav-menu-item {
  list-style-type: none;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #072E4D;
}
.footer-container__nav-menu-item a {
  position: relative;
}
.footer-container__nav-menu-item a::before {
  content: '';
  width: 0;
  height: 2px;
  background-color: #072E4D;
  bottom: -5px;
  left: 0;
  position: absolute;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
.footer-container__nav-menu-item a:hover::before {
  width: 100%;
}
.footer-container__nav-menu-item.active-link a::before {
  width: 100%;
}
.footer-container__nav-menu-item.has-submenu {
  cursor: pointer;
  position: relative;
}
.footer-container__nav-menu-item.has-submenu span::before {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.footer-container__nav-menu-item.has-submenu.focused span::before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.footer-container__nav-menu-item.has-submenu.focused .submenu {
  -webkit-transform: scaleY(1) translateY(10px);
          transform: scaleY(1) translateY(10px);
}
.footer-container__nav-menu-item.has-submenu .submenu {
  position: absolute;
  right: -130%;
  top: -20%;
  width: 100%;
  height: 0;
  z-index: 111;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
.footer-container__nav-menu-item.has-submenu .submenu-item {
  padding: 5px 0 10px;
}
.footer-container__nav-map {
  max-width: 320px;
  width: 100%;
}
.footer-container__nav-map iframe {
  border: 1px dashed #072E4D;
}

@media screen and (max-width: 1380px) {
  .header-top__nav {
    padding: 0 10vw;
  }
  .header-container {
    padding: 10vw 0;
  }
  .header-container__main {
    padding: 0 10vw;
  }

  main .catalog-container__title {
    text-align: center;
  }
  main .catalog-container__articles {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .create-container-articles {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1050px) {
  main .shop-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .shop-container__content .shop-content__articles {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 990px) {
  .header-top__nav {
    padding: 0 10vw;
  }
  .header-top__nav-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .header-top__nav-burger.active {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .header-top__nav-burger.active div:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(45deg);
            transform: translateY(12px) rotate(45deg);
  }
  .header-top__nav-burger.active div:nth-child(2) {
    opacity: 0;
  }
  .header-top__nav-burger.active div:nth-child(3) {
    -webkit-transform: translateY(-4px) rotate(-45deg);
            transform: translateY(-4px) rotate(-45deg);
  }
  .header-top__nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 75%;
    background-color: #fff;
    z-index: 111;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }
  .header-top__nav-menu-item {
    width: 100%;
    height: auto;
    margin: 0;
    border: 1px solid #464646;
    border-top: 0;
    padding: 20px 15px;
  }
  .header-top__nav-menu-item::before {
    width: 0;
  }
  .header-top__nav-menu-item.has-submenu .btn-outline-primary {
    border: none;
    padding: 0;
  }
  .header-top__nav-menu-item.has-submenu .submenu {
    top: 100%;
  }
  .header-top__nav-menu-item a {
    display: block;
  }
  .header-top__nav-menu.active {
    left: 0;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }

  .footer-container__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-container__nav-menu-item.has-submenu span {
    display: none;
  }
  .footer-container__nav-menu-item.has-submenu .submenu {
    position: static;
    height: auto;
    -webkit-transform: scaleY(1) translateY(10px);
            transform: scaleY(1) translateY(10px);
  }
}
@media screen and (max-width: 468px) {
  .header-container__main-p {
    max-width: 100%;
  }
  .header-container__bg img {
    width: 200%;
  }

  main .contact-container__content {
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding: 20px;
    margin-bottom: 10px;
  }
  main .contact-container__map {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    position: static;
  }

  .footer-container__nav {
    text-align: center;
  }
  .footer-container__nav-menu {
    margin-bottom: 40px;
    text-align: left;
  }
}
